#about{
  z-index: 1000;
  text-align: center;
}

// #fine-art{
//   height: 250px;
//   position: absolute;
//   left: 80%;
//   top: -70px;
//   margin-left: 0px; /* move left by half element's width */
// }

.fineArt{
  // color:#199B82;
  color: #ffffff;
  font-size: 150px;
}

// #fine-art-text{
//  margin-top: .3em;
// }

