#hero{
  background-color: #47DAB5;
  height: 400px;
}

#navbar{
  // background-color: #47DAB5;
}

#heroTitle{
  z-index: 9000;
  margin-top:40px;
  text-align: center;
}

.icon {
  color: #47DAB5;
}
