#hero{
  background-color: #47DAB5;
  height: 400px;
}

#navbar{
  // background-color: #47DAB5;
}

#heroTitle{
  z-index: 9000;
  margin-top:40px;
  text-align: center;
}

.icon {
  color: #47DAB5;
}

#breLogo {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
}
#breLogo:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
