#work{
  background-color: #f7f7f7;
  z-index: 1000;
  text-align: center;
  padding: 0px;
}

.portfolio-area-tile{
  background-color: #ffffff;
  height: 250px;
  overflow:hidden;
  position: relative;
  padding: 0px;
}

#portfolio-area{
  text-align: center;
  padding:0px;
}

#moreText{
  float:right;
}

.portfolio-area-tile-images{
  height: 100%;
}
